html, body{
    height: 100%;
}

body{
    /*linear-gradient(#9c4cd1, #e24a85);*/
    background: linear-gradient(#9c4cd1, #e24a85);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.memento-title{
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-weight: 800;
    color: antiquewhite;
    transition: 0.420s;
    margin: 3rem 0 3rem 0;
}

.memento-title:hover{
    color: rgba(253, 8, 172, 0.925);
    text-shadow: 2px 2px wheat;
    
}
.memento-title a{
    text-decoration: unset;
    color: unset;
}

.boxes{
    border: 1px solid white;
    margin: 0.07rem;
    width: 10px;
    height: 10px;
}

.year:nth-child(10n){
    margin-bottom: 1rem;
}

.select-date{
    color: antiquewhite;
}

.hide {
    display: none !important;
}

.div-title{
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
    font-size: 10px;
    width: 9px;
    height: 9px;
}

.divfifth{
    color: rgb(0, 0, 0);
    padding: 0;
    margin: -0.2em 0 0 0.5em;
    text-align: center;
    align-content: center;
    font-size: 12px;
    width: 10px;
    height: 10px;
}

.pastDiv {
    background-color: #ffffff;
}


.select-bd{
    margin-right: 6rem;
}

.select-dd{
    margin-right: 1.5rem;
}

#deathDate{
    width: 140px;
    border-radius: 12px;
    text-align: center;
}


.btn-done{
    border-radius: 25px;
    width: 100px;
    margin: 2rem 0 0 9rem;
}

#birthday{
    width: 140px;
    border-radius: 12px;
    text-align: center;
}