body{
    /*linear-gradient(#9c4cd1, #e24a85);*/
    background: linear-gradient(#9c4cd1, #e24a85);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}


#middleBox{
    margin-top: 20vh;
}

.memento-title{
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-weight: 800;
    color: antiquewhite;
    transition: 0.420s;
    margin: 1rem 0 2rem 0;
}

.memento-title:hover{
    color: rgba(253, 8, 172, 0.925);
    text-shadow: 2px 2px wheat;
    
}
.memento-title a{
    text-decoration: unset;
    color: unset;
}

.boxes{
    border: 1px solid white;
    padding: 0;
    margin: 1px;
    width: 10px;
    height: 10px;
}

.year:nth-child(10n){
    margin-bottom: 1rem;
}

.select-date{
    color: antiquewhite;
}

.hide {
    display: none !important;
}



.divfifth{
    color: rgb(0, 0, 0);
    padding: 0;
    margin: -3px 0 0 5px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    width: 10px;
    height: 10px;
}

.pastDiv {
    background-color: #ffffff;
}


.select-bd{
    margin-right: 5rem;
}

.select-dd{
    margin-right: 2.3rem;
}

#deathDate{
    width: 145px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
}


.btn-done{
    border-radius: 25px;
    width: 100px;
    margin: 2rem 0 0 9rem;
   
}

#birthday{
    font-size: 14px;
    width: 145px;
    border-radius: 12px;
    text-align: center;
   
}

@media screen and (max-width: 673px) {
    .boxes{
        border: 1px solid white;
        margin: 0.07rem;
        width: 8px;
        height: 8px;
    }
    .bday{
        padding-left: 30px;
  }
}

  @media screen and (max-width: 563px) {
    .boxes{
        border: 1px solid white;
        margin: 0.06rem;
        width: 7px;
        height: 7px;
    }

    .memento-title{
        letter-spacing: 10px;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
        font-weight: 800;
        color: antiquewhite;
        transition: 0.420s;
        margin: 3rem 0 3rem 0;
        font-size: 30px;
    }

    .divfifth{
        font-size: 9px;
    }


  }

  @media screen and (max-width: 463px) {
    .boxes{
        border: 1px solid white;
        margin: 0.03rem;
        width: 6px;
        height: 6px;
    }

    .divfifth{
        font-size: 9px;
    }
  }


  @media screen and (max-width: 420px) {
    
    .select-date{
        font-size: 12px;
    }

    .select-bd{
        margin-right: 2.6rem;
    }

    .select-dd{
        margin-right: 0.6rem;
    }
    .btn-done{
        margin-left: 35%;
        
    }
  }


  @media screen and (max-width: 383px) {
    .boxes{
        border: 1px solid white;
        margin: 0.03rem;
        width: 5px;
        height: 5px;
    }

    .memento-title{
        letter-spacing: 9px;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
        font-weight: 800;
        color: antiquewhite;
        transition: 0.420s;
        margin: 3rem 0 3rem 0;
        font-size: 26px;
    }
  }